@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(61, 67, 169);
    color: #fff;
}

#github-name {
    font-weight: bold;
    color: #fff;
}

#container {
    height: 500px;
    width: 500px;
    display: grid;
    margin: 64px auto;
}

.boxes {
    background-color: rgb(119, 164, 245);
    border: solid 1px #fff;
}

.hover {
    background-color: rgba(100, 148, 237, 0.407);
}

.for-btn {
    display: flex;
    justify-content: space-around;
}

.grid-size-btn {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 32px;
}

.grid-size-btn:hover {
    background-color: rgba(255, 255, 255, 0.824);
}

footer {
    display: flex;
    justify-content: space-around;
}

footer > p {
    position: absolute;
    bottom: 0;
}
